//  $bg  --> background/background-color
//  $pd-tb --> padding-top and padding-bottom
//  $pd-lr  --> padding-left and padding-right




@mixin button-base ($font-size, $font-weight, $line-height, $font-color, $border-radius, $pd-tb, $pd-lr) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  padding: $pd-tb $pd-lr;
  color: $font-color;
  border: none;
  border-radius: $border-radius;
  box-shadow: 0px 1px 2px 0px rgba(22, 45, 61, 0.1);
  cursor: pointer;
  transition: all .2s;
}



// @mixin gradient ($order, $bg-primary, $bg-secondary){
//   background: linear-gradient($order, $bg-primary, $bg-secondary)
// }


.button {
  @include button-base (14px, 400, 22px, $bg-secondary-light, 3px, 8px, 24px)
}


//$button_sizes ( type: ( pd-tb, pd-lr, line-height, font-size ))

//padding: nth($sizes, 1) = padding-top and padding-bottom
//padding: nth($sizes, 2) = padding-left and padding-right

$button_sizes: (
  small: (6px, 22px, 20px, 12px),
  large: (10px, 55px, 32px, 16px)
);

@each $name, $sizes in $button_sizes {
  .button-#{$name}{
    padding: nth($sizes,1) nth($sizes, 2);
    line-height: nth($sizes, 3);
    font-size: nth($sizes, 4)
  }
}
