.card {
  width: 100%;
  background: $bg-secondary-light;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  border-radius: 4px;
}
.card img {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.card-content {
  padding: 25px
}

.card-title {
  font: {
    size: 28px;
    weight: 700;
  };
  text: {
    align: left;
    transform: uppercase;
  };
  margin-bottom: 10px;
  color: #1f1f1f
}

.card-content p {
  font: {
    size: 18px;
  };
  text-align: justify;
  color: $bg-secondary-dark;
  line-height: 24px;
}

.card-action {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  background: #efefef;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px
}

.card-action-lite {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background: transparent
}

.card-action .button, .card-action-lite .button {
  margin-left: 15px
}

.card-lite {
  width: 100%;
  background: transparent
}

.card-lite img {
  max-width: 100%;
  height: auto
}

.card-lite .card-content {
  padding: 25px 0 0 0
}
