//Colors based flat ui e material design




// Status Colors //


$bg-primary:                  #2948ff;
$bg-secondary-primary:        #396afc;

$bg-secondary:                #CCCCCC;
$bg-secondary-secondary:      #DDDDDD;

$bg-success:                  #27ae60;
$bg-secondary-success:        #2ecc71;

$bg-danger:                   #D31027;
$bg-secondary-danger:         #EA384D;

$bg-warning:                  #f1c40f;
$bg-secondary-warning:        #FFE000;

$bg-info:                     #0072ff;
$bg-secondary-info:           #00c6ff;

$bg-light:                    #DDDDDD;
$bg-secondary-light:          #FFFFFF;

$bg-dark:                     #000000;
$bg-secondary-dark:           #434343;
