$status_colors: (
  primary: ($bg-primary, $bg-secondary-primary),
  secondary: ($bg-secondary, $bg-secondary-secondary),
  success: ($bg-success, $bg-secondary-success),
  danger: ($bg-danger, $bg-secondary-danger),
  warning: ($bg-warning, $bg-secondary-warning),
  info: ($bg-info, $bg-secondary-info),
  light: ($bg-light, $bg-secondary-light),
  dark: ($bg-dark, $bg-secondary-dark)
);

@each $name, $colors in $status_colors {
  .#{$name} {
    background: nth($colors, 1);
    // background: linear-gradient(to top, $colors)
  }
}
