<template lang="html">
 <div class="container">
   <button type="button" name="button" class="button primary">I'm button primary</button>
   <button type="button" name="button" class="button secondary">I'm button secondary</button>
   <button type="button" name="button" class="button success">I'm button success</button>
   <button type="button" name="button" class="button danger">I'm button danger</button>
   <button type="button" name="button" class="button warning">I'm button warning</button>
   <button type="button" name="button" class="button button-rounded info">I'm button rounded</button>
   <button type="button" name="button" class="button primary">I'm button default</button>
   <button type="button" name="button" class="button button-large dark">I'm button large</button>
   <button type="button" name="button" class="button button-small primary">I'm button small</button>

 </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.light, .secondary {
  color: #232323
}
.button {
  margin: 5px
}
.button-rounded {
  border-radius: 30px
}
</style>
