<template lang="html">
<div class="container">
  <div class="card">
    <img src="http://placehold.it/1200x700" alt="">
    <div class="card-content">
      <div class="card-title">Card Title</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="card-action">
      <button type="button" name="button" class="button success">Recomendar</button>
      <button type="button" name="button" class="button primary">Ler Matéria</button>
    </div>
  </div>
  <div class="card-lite">
    <img src="http://placehold.it/1200x700" alt="">
    <div class="card-content">
      <div class="card-title">Card No box-shadow</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="card-action">
      <button type="button" name="button" class="button success">Recomendar</button>
      <button type="button" name="button" class="button primary">Ler Matéria</button>
    </div>
  </div>
</div>


</template>

<script>
export default {
}
</script>

<style lang="scss">
.card, .card-lite {
  max-width: 450px!important;
  margin: 10px
}
</style>
