<template>
  <div>
    <header>
      <div class="menu">
        <div class="brand">
          Pimenta CSS
        </div>
        <!-- http://www.gastrovia.com.br/upload/arquivos/PIMENTA%20TAILANDESA%201.jpg -->
        <!-- http://telaviva.com.br/wp-content/uploads/2017/07/pimenta-malagueta-620x330.jpg -->
        <ul>
          <nuxt-link to="/" tag="li"><a>Home page</a></nuxt-link>
          <nuxt-link to="/card" tag="li"><a>Cards</a></nuxt-link>
          <nuxt-link to="/button" tag="li"><a>Buttons</a></nuxt-link>
        </ul>
      </div>
    </header>
    <nuxt/>
  </div>
</template>

<style lang="scss">
body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.container {
  min-height: calc(100vh - 66px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DDDD
}
header {
  display: flex;
  justify-content: center;
}
.menu {
  min-width: 1200px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .brand {
  font: {
    size: 18px;
    weight: 500
  };
  text: {
    transform: uppercase
  }
  height: auto
}
.menu ul{
  align-items: flex-end;
  margin: 0;
  padding: 0;
  font: {
    size: 16px;
    weight: 500
  };
}
.menu ul li {
  padding: 22px;
  display: inline-block;
  list-style: none
}
.menu ul li:hover {
  background: #efefef
}
.menu ul li a {
  padding: 18px 24px;
  text-decoration: none;
  color: #232323;
  transition: all ease .2s
}
// .menu ul li a:hover {
//   text: {
//     decoration: underline
//   }
// }
</style>
