<template>
  <section class="container">
    <div>
      <h1 class="title">
        pimentacss
      </h1>
      <h2 class="subtitle">
        Criação do meu proprio framework css
      </h2>
      <div class="links">
        <a href="https://nuxtjs.org/" target="_blank" class="button--green">Documentation</a>
        <a href="https://github.com/nuxt/nuxt.js" target="_blank" class="button--grey">GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
}
</script>


